body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2f2f2f;
}
#b1 {
    background-color: #dcdcdc;
    width: 55%;
    height: 80px;
    float: left;
}
#b2, #b3, #b4 {
    background-color: #dcdcdc;
    width: 15%;
    height: 80px;
    float: left;
}
#lewy {
    background-color: #808080;
    width: 30%;
    height: 450px;
    float: left;
}
#prawy {
    background-color: #808080;
    width: 70%;
    height: 450px;
    float: left;
}
footer {
    background-color: #dcdcdc;
    text-align: center;
}
h5 {
    color: #808080;
    border: 1px solid #808080;
    margin: 7px;
    padding: 10px;
    font-size: 80%;
}
h5 a, h5 a:active, h5 a:hover, h5 a:visited {
    color: #808080;
}
input {
    color: gray;
}